<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Os Pinguins | Sobre</title>

    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <h3>Sobre</h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi esse asperiores quaerat error sequi voluptate, nulla minus quam vero animi rerum reiciendis molestiae fuga ullam delectus aperiam, placeat facere. Ea.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque recusandae quasi fugit veniam in laudantium doloribus, deserunt, officia quae, eligendi repellat inventore facilis maxime explicabo voluptates possimus molestias quam quis?
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis nostrum nam minima mollitia amet unde temporibus exercitationem numquam expedita, libero a dolore dolor ut sed consequatur voluptatem fugit accusamus provident.
    </p>
</body>
</html>